{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE - Gestion des avis!{% endblock %}

{% block body %}

<div class="container ">

    <div class="mx-auto alert alert-dark my-5">
        <h5 class="text-center bg-dark text-warning">
            Avis du produit : {{ avis.produit.nom}}
            id :{{ avis.produit.id}}
        </h5>
        <hr>
		<span>
		<strong>{{ avis.auteur}}</strong>
		</span>
		<small class="fs-italic">
			Poste le {{ avis.createdAt|date('d/m/Y')}} a {{ avis.createdAt|date('H:i:s')}}

            <i class="fs-italic">avis id n° {{avis.id}}
            </i>
        
		</small>
		<p class="text-center">
			{{ avis.contenu}}
		</p>
		<hr>
        <div class="text-center">

            <a href="{{ path("app_admin_avis_edit", {'id' : avis.id} ) }}" class="btn btn-sm btn-warning">
            <i class="fa-solid fa-pen"></i>
            </a>

            <a onclick="return(confirm('Etes-vous certain de vouloir suprimer cet avis ?'))" href="{{ path("app_admin_avis_del", {'id' : avis.id} ) }}"class="btn btn-sm btn-danger">
            <i class="fa-solid fa-trash"></i>
            </a>

            <a href="{{ path("app_admin_avis_detail", {'id' : avis.id} ) }}"class="btn btn-sm btn-info">
            <i class="fa-solid fa-eye"></i>
            </a>

           <a href="{{ path('app_admin_avis')}}" class="btn btn-sm btn-primary">
           Retour
           </a>

            </div>
		</div>
</div>

{% endblock %}